* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    display: inline-block;
    background-color: #F3F2EB;
    padding-bottom: 10px;
}

main {
    font-family: "Montserrat", Helvetica, sans-serif;
}

/* nav bar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #022B3A;
    padding: 0.5rem;
    padding-bottom: 1rem;
    align-items: center;
    z-index: 1;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    left: 0;
}

nav ul li a:hover {
    color: white;
    text-decoration: underline;
}

.icon {
    max-width: 40px;
    color: white;
    position: fixed;
    top: 0.5%;
    right: 0;
}


/* teams page */

.teamheader {
    color: #505960;
    margin-top: 80px;
    margin-left: 150px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
  
.rectteamslist h3 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: fixed;
    top: 18%;
    left: 1%;
}

.rectteamslist {
    display: flex;
    width: 120px;
    height: 100%; 
    background-color: #9DB7A4; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.rectteamslist h4:first-of-type {
    color: white;
    font-family: Montserrat;
    font-size: 8px;
    position: fixed;
    top: 25%;
    left: 1%;
}

.rectteamslist h4:last-of-type {
    color: white;
    font-family: Montserrat;
    font-size: 8px;
    position: fixed;
    top: 35%;
    left: 1%;
}

.rectteamslist img {
    max-width: 8px;
    position: absolute;
    top: 18.5%;
    right: 10%;
}

.rect {
    width: 400px;
    height: 300px; 
    background-color: #607D68; 
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 150px;
}

.first3 {
    display: flex;
    margin-left: 30px;
    justify-content: center;
}

.first3 .profile {
    border-radius: 20px;
    background: #DEE3E6;
    width: 90px;
    height: 115px;
    flex-shrink: 0;
    margin-top: 20px;
    margin-right: 30px;
}

.last3 {
    display: flex;
    margin-left: 30px;
    justify-content: center;
}

.last3 .profile {
    border-radius: 20px;
    background: #DEE3E6;
    width: 90px;
    height: 115px;
    flex-shrink: 0;
    margin-top: 20px;
    margin-right: 30px;
}

.profile {
    align-items: center;
}

#circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    flex-shrink: 0;
    margin-top: 5px;
    margin-left: 35px;
}

h5 {
    font-family: Montserrat;
    font-size: 5px;
    margin-top: 5px;
    margin-left: 37px;
}

/* footer */

footer { 
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F3F2EB;
    color: black;
    text-align: left;
    font-size: 10px;
    font-family: inherit;
}

button { 
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0; 
    padding: 2px;
    text-align: center; 
    width: 40%;
    font-size: 5px;
    margin-left: 5px;
    font-weight: 350;
}

button:nth-child(3) {
    background-color: #f5a9a9;
    color: white;
}

button:nth-child(4) { 
    background-color: #95e995; 
    color: white;
}

button:nth-child(5) { 
    background-color: #a2a2ee; 
    color: white;
}

button:nth-child(6) {
    background-color: #f5d098;
    color: white;
}

.comph2 {
    color: #505960;
    margin-top: 70px;
    margin-left: 150px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: Montserrat;
}

.comph3 {
    font-family: Montserrat;
    color: #505960;
    margin-top: 10px;
    margin-left: 150px;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

select#members {
    width: 15%;
    height: 3%;
    padding: 4px;
    
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #505960; 
    border-radius: 4px;
    text-align: center; 
    display: block; 
    font-size: 8px;
    font-weight: 300;
    font-family: inherit;
    line-height: inherit;
    position: absolute;
    top: 80%;
    left: 26%;
}

select#members2 {
    width: 15%;
    height: 3%;
    padding: 4px;
    
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #505960; 
    border-radius: 4px;
    text-align: center; 
    display: block; 
    font-size: 8px;
    font-weight: 300;
    font-family: inherit;
    line-height: inherit;
    position: absolute;
    top: 80%;
    left: 55%;
}

input {
    width: 6%;
    height: 3%;
    display: block;
    font-size: 7px;
    font-weight: 300;
    font-family: inherit;
    line-height: inherit;
    position: absolute;
    top: 85%;
    left: 64%;
}

@media (min-width: 768px) {
    select#members {
        top: 110%;
    }

    select#members2 {
        top: 110%;
    }

    input {
        top: 115%;
    } 
}

@media (min-width: 768px) {
    
    .rectteamslist h3 {
        font-size: 15px;
        top: 15%;
    }

    .rectteamslist h4:first-of-type {
        font-size: 8px;
        top: 23%;
    }
    
    .rectteamslist h4:last-of-type {
        font-size: 8px;
        top: 33%;
    }

    .rectteamslist img {
        max-width: 10px;
        top: 15.5%;
    }

    .rect {
        width: 600px;
        height: 500px;
    }

    .first3 .profile {
        width: 150px;
        height: 180px;
        margin-top: 40px;
    }

    .last3 .profile {
        width: 150px;
        height: 180px;
        margin-top: 40px;
    }

    #circle {
        margin-left: 60px;
        width: 40px;
        height: 40px;
    }

    h5 {
        margin-left: 55px;
        font-size: 15px;
    }

    .profile-container {
        width: 500px;
    }
    
    .edit {
        width: 50%;
    }

    select {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .teamheader {
        margin-top: 100px;
        margin-left: 250px;
        font-size: 30px;
    }

    .rectteamslist {
        width: 200px;
    }

    .rectteamslist h3 {
        font-size: 20px;
        font-weight: 700;
        position: fixed;
        top: 13%;
        left: 1%;
    }

    .rectteamslist h4:first-of-type {
        font-size: 12px;
        position: fixed;
        top: 21%;
        left: 1%;
    }
    
    .rectteamslist h4:last-of-type {
        font-size: 12px;
        position: fixed;
        top: 31%;
        left: 1%;
    }

    .rectteamslist img {
        max-width: 15px;
        top: 13%;
    }

    .rect {
        width: 800px;
        height: 580px; 
        background-color: #607D68; 
        border-radius: 30px;
        margin-top: 10px;
        margin-left: 250px;
    }

    .first3 {
        margin-left: 60px;
    }

    .first3 .profile {
        width: 200px;
        height: 230px;
        margin-top: 40px;
        margin-right: 60px;
        border-radius: 30px;
    }

    .last3 {
        display: flex;
        margin-left: 60px;
        justify-content: center;
    }

    .last3 .profile {
        width: 200px;
        height: 230px;
        margin-top: 40px;
        margin-right: 60px;
        border-radius: 30px;
    }

    #circle {
        margin-left: 80px;
        width: 40px;
        height: 40px;
    }

    h5 {
        margin-left: 72px;
        font-size: 20px;
    }

    button {  
        padding: 2px;
        text-align: center; 
        width: 40%;
        font-size: 15px;
        margin-top: 10px;
        margin-left: 12px;
        border-radius: 8px;
    }

    .comph2 {
        margin-left: 250px;
        font-size: 30px;
    }

    .comph3 {
        margin-left: 250px;
        font-size: 20px;
    }

    select#members {
        top: 100%;
    }

    select#members2 {
        top: 100%;
    }

    input {
        top: 105%;
    }
}

@media (min-width: 1440px) {
    select#members {
        top: 80%;
    }

    select#members2 {
        top: 80%;
    }

    input {
        top: 90%;
    } 
}

/* 576 px */
